.btnSubmit {
  margin-top: 1em;
}

.imgProduct {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  width: 100%;
  img {
    margin-bottom: 1em;
    width: 100%;
  }
}

.select {
  text-transform: capitalize;
}